<h1>Books#update</h1>
<p>Find me in app/views/books/update.html.erb</p>

before_action :correct_user, only: [:edit, :update]


 def correct_user
    　if @book = Book.find(params[:id])
      unless @book.user == current_user
     　　redirect_to books_path
    　end
end
