<main>
 <div class='container'>
  <div class='row'>
   <div class='center-block'>
      <p id="notice"><%= flash[:notice] %></p>
      <h1><strong>西垣晴菜</strong>の自己紹介ページへようこそ</h1>
        <p>こんにちは、ご覧頂きありがとうございます！</p>
        <p>これはプログラマーになるべく日々奮闘する文系大学生が初めて世に出したサイトです！</p>
        
        <h3>①西垣晴菜の基本情報</h3>
　　　　<p>・西垣晴菜（にしがきはるな）　2000年9月16日生まれ　乙女座<br>・岐阜県出身<br>・金沢大学　人間社会学域地域所属</p>
      <h3>②趣味</h3>
    　<p>・旅行、カラオケが大好きです！
    　<br>・マンガ、アニメ、K-POPはオタクと呼ばれるレベルです！</p>
    　<h3>③好きな言葉</h3>
    　<p>・stay positive
    　<br>・なんとかなる</p>
    　<h3>④学生時代の部活</h3>
    　<p>中学校：陸上部　高校：英会話部
    　<h3>⑤大学時代の経験から</h3>
    　<p>大学3年生の時に、タイへ半年間留学しました！コロナ禍と言うこともあってオンライン授業も多かったのですが
    　<br>ずっと部屋に籠もっていてはもったいないと思い、思い切ってオンライン授業を旅行先で受けてみました笑
    　<br>タイのビーチで授業を受けて課題を提出し、授業のない日は観光をする。正直夢のような日々でした。。。
    　<br>そこで私はふと思いました。「仕事もこんな風にできたらなぁ。」
    　<br>そうです、この体験をきっかけに私はプログラマーという選択肢に出会いました！</p>
    　<p>知識、技術、経験どれをとっても未熟でのびしろしかない私ですが、
    　<br>いつかこのサイトを見返したときに大笑いできるくらい成長していたいです！
    　<h3>⑥SNS</h3>
  　　<p>instagram @nishigaki916</p>
   </div>
  </div>
 </div>
</main>